body {
    margin: 0;
    font-size: 40px;
    font-family: 'Roboto'
    
}

header {
    text-align: center;
    background : #03a9f4
}

.logo {
    color : #fff;
    /*font-size: 40px;*/
    font-family: 'Anton'
}

header input {
    font-size: 20px
}

.news_item{
    font-size: 15px;
    padding :20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}